* {
    box-sizing: border-box;
}

.con {
    margin: 0px;
    padding: 0;
}

.wave {
    background: #09f;
    color: #feeffe;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.wave h1 {
    font-size: 5rem;
    margin: 1rem 1.25rem 2.5rem 1.25rem;
}

.wave p {
    font-size: 1.0rem;
    margin: 0 1.25rem 1rem 1.25rem;
}


@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

.wave>svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.animated {
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}